@{
    Layout = null;
}
<!DOCTYPE html>

<html style="height:100%;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <script src="~/vue/vue.min.js"></script>
    <script src="~/vue-router/vue-router.min.js"></script>
    <script src="~/element-ui/index.js"></script>
    <script src="~/axios/axios.min.js"></script>
    <script src="~/ivwl.js"></script>
    <link href="~/element-ui/theme-chalk/index.css" rel="stylesheet" />
    <title>微信后台管理信息系统</title>
</head>
<body style="height:100%;margin:0;">
    <template id="tplMain">
        <el-container style="height:100%;">
            <el-aside>
                <el-menu :collapse="mainSet.isCollapse" default-active="/Account/Index" router>
                    <el-menu-item index="/Account/Index">登陆</el-menu-item>
                </el-menu>
            </el-aside>
            <el-container>
                <el-header></el-header>
                <el-main><router-view id="ivwLView"></router-view></el-main>
            </el-container>
        </el-container>
    </template>
    <script src="~/home/index.js"></script>
</body>
</html>
<script>
    var routes = [
        { path: '/Account', name: 'Account' }
    ]
    var router = new VueRouter({
        routes
    })
    new Vue({
        router,
        el: '#tplMain',
        template: '#tplMain',
        data: {
            mainSet: {
                isCollapse: false,
            }
        },
        methods: {
            onRoutes() {

            }
        }
    });
</script>

