@{
    ViewBag.Title = "用户登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<template id="tplAccount">
    <el-container>
        <el-header></el-header>
        <el-main style="text-align:center;">
            <el-form ref="accountFrom" :model="form">
                <h3 class="title">微信后台管理信息系统</h3>
                <el-form-item>
                    <el-input type="text" v-model="form.Code" auto-complete="off" placeholder="账号" prefix-icon="el-icon-user-solid"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-input type="password" v-model="form.Password" auto-complete="off" placeholder="密码"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" style="width:100%;" @@click="btnlogin" :loading="formSet.loginLoading">{{formSet.txtLogin}}</el-button>
                </el-form-item>
            </el-form>
        </el-main>
    </el-container>
</template>

<script>
    new Vue({
        el: '#tplAccount',
        template: '#tplAccount',
        data: {
            form: {
                Code: '',
                Password: ''
            },
            formSet: {
                loginLoading: false,
                txtLogin: '登陆'
            }
        },
        methods: {
            btnlogin() {
                this.$data.formSet.loginLoading = true;
                axios.post('/Account/Login', this.$data.form)
                    .then(res => {
                        this.$data.formSet.loginLoading = false;
                        if (res.data.code != 1) {
                            this.$message.error({ showClose: true, message: res.data.errorMsg });
                            return;
                        }
                    }).catch(error => {
                        this.$data.formSet.loginLoading = false;
                        this.$alert(error);
                    })
            }
        }
    })
</script>