<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <script src="~/vue/vue.min.js"></script>
    <script src="~/vue-router/vue-router.min.js"></script>
    <script src="~/element-ui/index.js"></script>
    <script src="~/axios/axios.min.js"></script>
    <script src="~/ivwl.js"></script>
    <link href="~/element-ui/theme-chalk/index.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
</body>
</html>
